sec {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

header p {
    font-style: italic;
}

article p {
    font-style: italic;
}

article h1 {
    font-size: 28px;
}

section {
    margin-left: 20px;

}